<div cg-busy="{promise: loadingPromise, templateUrl: 'partials/loadingtemplate.html'}">
    <section id="newsai">
        <section>
            <h1>Media Database</h1>
            <table>
                <tr>
                    <th><a ui-sref="md">Contacts</a></th>
                    <td>&nbsp; All Media Database Contacts</td>
                </tr>
            </table>
            </br>
        </section>
<!--         <section>
            <h1>Tabulae</h1>
            <table>
                <tr>
                    <th>Contacts</th>
                    <td>&nbsp; All Media Database Contacts</td>
                </tr>
            </table>
            </br>
        </section> -->
    </section>
</div>
